body {
    max-width: 40em;
    margin: auto;
    padding: 2.4em;
    font-size: 1.08em;
    font-family: sans-serif;
    color: #252525
}

p {
    font-family: serif;
    line-height: 1.5
}

a {
    color: #0054C0
}
a:visited {
    color: #555
}
a:hover {
    color: #00CDFF
}
a:active {
    color: #00FFFF;
    text-decoration: none
}
a:focus {
    outline: solid #0054C0 0.2em
}

h1 { text-align: center }
h2, h3 {
    margin-top: 1em;
    margin-bottom: 0
}

ul, ol { font-family: serif }
li { margin-top: 1em }

nav li {
    list-style-type: none;
    text-indent: -1.5em
}

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background: #252525
    }

    a { color: #00CDFF }
    a:visited { color: #AAA }
    a:hover { color: #0054C0 }
    a:focus { outline-color: #0054C0 }

}
